<a href="https://colab.research.google.com/github/shyexnnn/PythonStudy/blob/master/%EB%AC%B8%EC%9E%90%EC%97%B4_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **문자열 자료형**

## **문자열 인덱싱과 슬라이싱**


---
인덱싱은 "가리킨다"라는 의미, 슬라이싱은 "잘라낸다"의 의미

1. 인덱싱
```
a = "Life is too short, You need Python"
a[12]
>> 's'
```
0부터 숫자를 세기 때문에 a[12]는 공백 포함 0부터 12번째의 자리를 뜻한다.
```
a = "Life is too short, You need Python"
a[-1]
>> 'n'
```
a[-1]을 적으면 뒤에서 부터 읽을 수 있다. a[-0]과 a[0]은 서로 같은 값을 보여준다.


2. 슬라이싱

```
a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
b
>> 'Life'
```

```
a = "Life is too short, You need Python"
a[0:5]
>> 'Life '
```
a[0:5]는 0부터 5까지의 문자를 뽑아낸다. 이때 a는 0<=a<5이다.

*   a[시작번호:]: 끝번호 생략하면 시작번호부터 문자열 끝까지 뽑아냄
*   a[:끝번호]: 시작번호 생략하면 문자열 처음부터 끝까지 뽑아냄
*   a[:]: 시작번호, 끝번호 생략하면 문자열 처음부터 끝까지 뽑아냄

## **문자열 포매팅**


---
문자열 안의 특정한 값을 바꿔야 할 경우 이것을 가능하게 해주는 것이 문자열 포매팅

1. 숫자 바로 대입

```
"I eat %d apples." % 3
>> 'I eat 3 apples."
```
문자열 안에 정수 3을 넣는다. 문자열 안에서 숫자를 넣고 싶은 자리에 %d 문자를 넣어주고, 넣을 숫자 3은 가장 뒤에 %3으로 쓴다. 이때 %d는 문자열 포맷 코드라고 부른다.


2. 문자열 바로 대입

```
"I eat %s apples." % "one"
>> 'I eat one apples.'
```
문자열을 대입할때 큰따옴표나 작은따옴표를 꼭 쓰기


3. 숫자 값을 나타내는 변수로 대입

```
num = 3
"I eat %d apples." % num
>> 'I eat 3 apples.'
```


4. 2개 이상의 값 넣기

```
num = 4
day = "three"
"I ate %d banana. so I was sick for %s days." % (num, day)
>> 'I ate 4 banana. so I was sick for three days.'
```
2개 이상의 값을 넣으려면 마지막 % 다음 괄호 안에 콤마로 구분

### **포맷 코드와 숫자 함께 사용**

---

1. 정렬과 공백

```
"%20s" % "hi"
>> '                    hi'
```
%20s는 전체 길이가 20개인 문자열 공간에서 대입되는 값을 오른쪽에 정렬하고 앞의 나머지는 공백으로 놔둔다. 반대쪽인 왼쪽 정렬은 %-20s이다.

2. 소수점 표현하기

```
"%10.4f" % 3.421345
>> '          3.4213'
```
소수점 4까지 표시하고 전체 길이가 10인 문자열을 오른쪽으로 정렬해서 나타냈다.

### **format 함수를 사용한 포매팅**


---

1. 숫자 바로 대입하기

```
"I eat {0} apples".format(3)
>> 'I ear 3 apples'
```


2. 문자열 바로 대입하기

```
"I eat {0} apples".format("five")
>> 'I eat five apples'
```


3. 숫자 값을 가진 변수로 대입하기

```
number = 3
"I eat {0} apples".format(number)
>> 'I eat 3 apples'
```


4. 2개 이상의 값 넣기

```
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)
>> 'I ate 10 apples. so I was sick for three days.'
```


5. 이름으로 넣기

```
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)
>> 'I ate 10 apples. so I was sick for 3 days.'
```
{name} 형태를 사용할 경우 format 함수에는 반드시 name=value 와 같은 형태의 입력값이 있어야만 한다.


6. 인덱스와 이름을 혼용해서 넣기

```
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)
>> 'I ate 10 apples. so I was sick for 3 days.'
```
인덱스 항목과 name=value 형태를 혼용하는 것도 가능하다.


7. 왼쪽 정렬

```
"{0:<10}".format("hi")
>> 'hi          '  
```
:<10 표현식을 사용하면 치환되는 문자열을 왼쪽으로 정렬하고 문자열의 총 자릿수를 10으로 맞출 수 있다.


8. 오른쪽 정렬

```
"{0:>10}".format("hi")
>> '        hi'
```
오른쪽 정렬은 :< 대신 :>을 사용하면 된다.


9. 가운데 정렬

```
"{0:^10}".format("hi")
>> '    hi    '
```
:^ 기호를 사용하면 가운데 정렬도 가능하다.